<div class="text-center pt-20 pb-5 md:pt-40 md:pb-5 bg-gray-100 dark:bg-gray-800">
<%= image_tag '/z-fc logo.png', alt: 'FC Squad Builder Logo', class: 'mx-auto mb-5', width: '175', height: '175' %>
<div class="bg-gray-700 rounded-lg p-5 flex-column justify-center ">
  <p class="text-lg md:text-xl mb-8 text-gray-800 dark:text-gray-200">Build your ultimate EA FC 24 squad and compete with others.</p>
  <%= link_to 'Explore Players', players_path, class: 'bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600 mr-2' %>
  <% unless user_signed_in? %>
  <%= link_to 'Sign Up', new_user_registration_path, class: 'bg-blue-300 text-gray-700 py-2 px-4 rounded hover:bg-blue-600' %>
  <% end %>
  </div>
</div>
